<h1>SHOWING NOW</h1>  
<div class="row" id="row1">
  <div class="col">
    <a (click)="bookMovieTicket(1)"><img  src="../assets/image/thumb-458644.jpg" width="200px" height="300" alt="Avengers Endgame"></a>
    <p><b>Avengers Endgame</b><br>Action/Sci-fi</p>
  </div>
  <div class="col">
    <img src="../assets/image/Kantara-1.jpg" width="200px" height="300" alt="Kantara">
    <p><b>Kantara</b><br>Action/Thriller/Drama</p>
  </div>
  <div class="col">
    <img src="../assets/image/batman.jpg" width="200px" height="300" alt="The Batman">
    <p><b>The Batman</b><br>Action/Crime/Thriller</p>
  </div>
  <div class="col">
    <img src="../assets/image/Sooryavanshi-1-1-322x572.jpg" width="200px" height="300" alt="Sooryavanshi">
    <p><b>Sooryavanshi</b><br>Action/Comedy/Drama</p>
  </div>
  <div class="col">
    <img src="../assets/image/war.jpg" width="200px" height="300" alt="War">
    <p><b>War</b><br>Action/Thrller</p>
  </div>
</div>

<div class="row" id="row2">  
  <div class="col">
    <img src="../assets/image/Avatar-The-Way-of-Water-Artwork-chd-04-D-1-Sheet_695x1000px_de.png" width="200px" height="300" alt="Avatar The Way of Water">
    <p><b>Avatar The Way Of Water</b><br>Advanture/Sci-fi</p>
  </div>
  <div class="col">
    <img src="../assets/image/drishyam-2-poster-5.jpg" width="200px" height="300" alt="Kantara">
    <p><b>Drishyam</b><br>Thriller/Drama</p>
  </div>
  <div class="col">
    <img src="../assets/image/freddy.png.webp" width="200px" height="300" alt="The Batman">
    <p><b>Freddy</b><br>Crime/Thriller</p>
  </div>
  <div class="col">
    <img src="../assets/image/rrr.jpeg" width="200px" height="300" alt="Sooryavanshi">
    <p><b>RRR</b><br>Action/Historic</p>
  </div>
  <div class="col">
    <img src="../assets/image/top gun.jpg" width="200px" height="300" alt="War">
    <p><b>Top Gun: Maverick</b><br>Action/Drama</p>
  </div>
</div>
