<!-- <h1>MOVIES</h1>
<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Language</th>
        <th scope="col">Type</th>
        <th scope="col">Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movie">
        <td>{{mov.movieName}}</td>
        <td>{{mov.movieLanguage}}</td>
        <td>{{mov.movieType}}</td>
        <td>{{mov.movieGenre}}</td>
        <td><button type="button"class="btn btn-dark" (click)="bookMovieTicket(mov.movieId)">BOOK NOW</button></td>
      </tr>
    </tbody>
  </table>
</div> -->

<h1>Login</h1>