<body>
<div class="header">
  <a (click)="bookMovieTicket(1)"><img width="1350" src="../assets/image/1674124068277_pathaanweb.avif" alt=""></a>
</div>

<div class="row">
  <h3 class="p">Recommended Movies</h3>
  <div class="col">
    <a (click)="bookMovieTicket(1)" ><img src="../assets/image/thumb-458644.jpg" width="250px" height="350" alt="Avengers Endgame"></a>
    <a class="nav-link active" aria-current="page" ><p><b>Avengers Endgame</b><br>Action/Sci-fi</p></a>
  </div>
  <div class="col">
    <a (click)="bookMovieTicket(1)"><img src="../assets/image/Kantara-1.jpg" width="250px" height="350" alt="Kantara"></a>
    <p><b>Kantara</b><br>Action/Thriller/Drama</p>
  </div>
  <div class="col">
    <a (click)="bookMovieTicket(1)"><img src="../assets/image/batman.jpg" width="250px" height="350" alt="The Batman"></a>
    <p><b>The Batman</b><br>Action/Crime/Thriller</p>
  </div>
  <div class="col">
    <a (click)="bookMovieTicket(1)"><img src="../assets/image/Sooryavanshi-1-1-322x572.jpg" width="250px" height="350" alt="Sooryavanshi"></a>
    <p><b>Sooryavanshi</b><br>Action/Comedy/Drama</p>
  </div>
  <div class="col">
    <a (click)="bookMovieTicket(1)"><img src="../assets/image/war.jpg" width="250px" height="350" alt="War"></a>
    <p><b>War</b><br>Action/Thrller</p>
  </div>
</div>
</body>