 <!-- <p>ticket works!</p> -->
 <h1>TICKET BOOKED SUCCESSFULLY</h1>
<!-- <div>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Amount</th>
          <th scope="col">Invoice number</th>
          <th scope="col">Date</th>
          <th scope="col">Booking Id</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
          <td></td>
          <td>{{ticket.invoiceNumber}}</td>
          <td>{{ticket.date}}</td>
          <td>{{ticket.bookingId}}</td>
          <td>{{ticket.notes}}</td>
      </tbody>
    </table>
  </div>  -->

